.header {    
    text-align: center;
    padding: $padding-default;

    &__logo-box {
        margin: 0 auto 3rem auto;
        width: 60%;
    }

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}
